* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app-container {
  box-shadow: 0px 0px 10px rgba(40, 40, 40, 0.626);
  border-radius: 10px;
  padding: 40px;
  background-color: aliceblue;
}
h1{
  margin-bottom: 20px;
}
.search-bar-container{
display: flex;
gap: 20px;
margin-bottom: 50px;
}
.emp-id-label{
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
#emp-id{
  font-size: 15px;
  font-weight: 700;
}
button{
  font-size: 16px;
  font-weight: bold;
  width: 100px;
}

input, button{
  padding: 2px 0px;
}
.lower-input-container{
  display: flex;
  gap: 40px;
}
.readonly-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 
}
.readonly-input{
  outline: none;
  font-size: 15px;
  padding-left: 5px;
}

